<!-- tabla.component.html -->
<div>
  <form (ngSubmit)="onSubmit()">
      <input type="text" name="nombre" id="nombre" placeholder="buscar cliente" [(ngModel)]="nombreCliente.nombre">
      <button type="submit">Buscar</button>
  </form>
  <label>
      Ordenar <input type="checkbox"  [(ngModel)]="ordenar" (change)="onChangeOrdenar()"/> 
  </label>
  <label>
      Deudores <input type="checkbox" [(ngModel)]="deuda" (change)="onChangeDeuda()"/> 
  </label>
  <button type="button" (click)="actualizarListaClientes()">Limpiar</button>
</div>
<table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Tipo de Domicilio</th>
        <th>Consumo</th>
        <th>Deuda</th>
        <th>Descuento</th>
        <th>Monto a Pagar</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of listaFinal, let i">
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.documento}}</td>
        <td>{{cliente.typedomicilio}}</td>
        <td>
          {{cliente.consumo}}
        </td>
        <td>{{cliente.deuda}}</td>
        <td>
          {{cliente.descuento }}
        </td>
        <td>
          {{cliente.paid}}
        </td>
        <td>
          <button type="button" (click)="eliminarCliente(cliente)">Borrar</button>
        </td>
      </tr>
    </tbody>
</table>
  
